<launch>

<rosparam file="$(find diff_H80_description)/config/controller.yaml" command="load"/>

<node name="controller_spawner" ns="/diff_H80" output="screen" pkg="controller_manager" respawn="false" type="spawner" 
      args="diff_left_front_position_controller diff_left_rear_position_controller 
            diff_right_rear_position_controller diff_right_front_position_controller 
            joint_state_controller "/>


<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/diff_H80/joint_states"/>
</node>

</launch>

<!-- 

rostopic pub -r 1 /diff_H80/diff_right_front_position_controller/command std_msgs/Float64 "data: 3"
rostopic pub -r 1 /diff_H80/diff_left_front_position_controller/command std_msgs/Float64 "data: 3"

-->